/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}
:root {
  --c-pri: #000000;
  --c-text-white: #fff;
  --c-overlay-alpha: rgba(0, 0, 0, 0.4);
  --c-accent: rgb(33, 33, 184);
}
button {
  cursor: pointer;
}
nav {
  height: 60px;
  background: var(--c-pri);
  color: var(--c-text-white);
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
}
nav a {
  color: #fff;
  text-decoration: none;
}
nav .left,
nav .left .links,
nav .right {
  display: flex;
  gap: 15px;
  align-items: center;
}
nav .left {
  gap: 50px;
}
nav .right .cart {
  height: 30px;
  width: 30px;
}
.section-title {
  font-size: 23px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.section-title::before {
  content: "";
  height: 40px;
  width: 5px;
  top: 0;
  background: #000;
}
.product-card {
  height: 400px;
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 3px;
  padding-bottom: 15px;
  background: #000;
  transition: 0.5s ease-in-out;
}
.product-card:hover {
  transform: scale(1.05);
}
.product-card img.prod {
  height: 80%;
  width: 100%;
}
.product-card .details {
  color: #fff;
  padding: 10px;
}
.product-card button {
  padding: 8px;
  margin: 0 10px;
  cursor: pointer;
  background: #000;
  border: 1px solid white;
  color: white;
  font-size: 20px;
}
