/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}
:root {
  --c-pri: #000000;
  --c-text-white: #fff;
  --c-overlay-alpha: rgba(0, 0, 0, 0.4);
}
