section {
  min-height: 100vh;
  padding: 25px;
}
section.banner {
  background: var(--c-pri);
  color: var(--c-text-white);
}
section.banner .search input {
  padding: 5px;
}
section.banner .slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 850px;
  margin: auto;
  margin-top: 25px;
}
section.banner .slider img {
  height: 500px;
  justify-self: flex-end;
}
section.banner .slider .welcome {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
section.banner .slider .welcome .sitename {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.banner .slider .welcome .sitename h1 {
  font-size: 3rem;
}
section.banner .slider .welcome button {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 900;
  cursor: pointer;
}
/* Categories Section */
section.categories .cards {
  display: grid;
  margin-top: 20px;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
section.categories .cards .category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  gap: 10px;
  color: white;
}
section.categories .cards .category:nth-child(1) {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/dress.jpg") center;
  background-size: 200%;
}
section.categories .cards .category:nth-child(2) {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/shoes.jpg") center;
  background-size: 200%;
}
section.categories .cards .category:nth-child(3) {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/bags.jpg") center;
  background-size: 200%;
}
section.categories .cards .category:nth-child(4) {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/cosmetics.jpg") center;
  background-size: 200%;
}
section.categories .cards .category button {
  background: none;
  color: white;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 5px;
  cursor: pointer;
}
section.categories .cards .category > * {
  transition: 0.5s ease-in-out;
}
section.categories .cards .category:hover > * {
  transform: scale(1.4);
}
