section {
  min-height: 100vh;
  padding: 30px;
  margin-bottom: 150px;
}
section.banner {
  padding: 0;
}
/* section.banner .slider {
  display: flex;
} */
section.banner .slide {
  /* width: 100%; */
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
section.banner .search {
  position: absolute;
  top: 65px;
  left: 25px;
}
section.banner .search input {
  padding: 5px;
}
section.banner .left {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
section.banner .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 0 25px;
  padding: 20px;
  height: 100vh;
  background: #000;
  color: var(--c-text-white);
}
section.banner img {
  height: 500px;
  justify-self: flex-end;
}
section.banner .right .welcome {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
section.banner .right .welcome .sitename {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.banner .right .welcome .sitename h1 {
  font-size: 3rem;
}
section.banner .right .welcome button {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 900;
}
/* Categories Section */
section.categories .cards {
  display: grid;
  margin-top: 20px;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
section.categories .cards .category {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  gap: 10px;
  color: white;
  z-index: 1;
}
section.categories .cards .category::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
section.categories .cards .category:nth-child(1) {
  /* --alpha: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)); */
  background: url("../images/dress.jpg") center;
  background-size: cover;
}
section.categories .cards .category:nth-child(2) {
  /* --alpha: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)); */
  background: url("../images/shoes.jpg") center;
  background-size: cover;
}
section.categories .cards .category:nth-child(3) {
  /* --alpha: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)); */
  background: url("../images/bags.jpg") center;
  background-size: cover;
}
section.categories .cards .category:nth-child(4) {
  /* --alpha: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)); */
  background: url("../images/cosmetics.jpg") center;
  background-size: cover;
}
section.categories .cards .category button {
  background: none;
  color: white;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 5px;
}
section.categories .cards .category > * {
  transition: 0.5s ease-in-out;
}
section.categories .cards .category:hover > * {
  transform: scale(1.4);
}
/* Featured Products */
section.featured-products {
  padding: 10px;
}
section.featured-products .products {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
section.featured-products .btn-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
section.featured-products button.view-all {
  background: none;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 900;
  font-size: 1.2rem;
}
