section {
  min-height: 100vh;
}
section.banner {
  padding: 25px;
  background: var(--c-pri);
  color: var(--c-text-white);
}
section.banner .search input {
  padding: 5px;
}
section.banner .search input:focus {
  outline: 3px solid var(--c-accent);
}
section.banner .slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 850px;
  margin: auto;
  margin-top: 25px;
}
section.banner .slider img {
  height: 500px;
  justify-self: flex-end;
}
section.banner .slider .welcome {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
section.banner .slider .welcome .sitename {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.banner .slider .welcome .sitename h1 {
  font-size: 3rem;
}
section.banner .slider .welcome button {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 900;
  cursor: pointer;
}
